h1,
h2 {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}


/*Main Page*/

#pageOne {
    background-color: white;
    background-size: cover;
}

#pageTwo {
    background: url('../images/img-04.jpg') center fixed no-repeat;
    background-size: cover;
}

.header {
    background: url('../images/img-04.jpeg') center fixed no-repeat;
    background-size: cover;
    height: 950px;
}

.element {
    display: inline;
    font-size: 70px;
}

.big-title {
    margin-top: 350px;
    color: white;
    font-size: 70px;
    margin-bottom: 50px;
}

.sign-in {
    padding-top: 10px;
}

.edit {
    padding-top: 20px;
}

.container {
    margin-top: 50px;
}

.left h2,
p {
    margin-top: 30px;
    margin-bottom: 40px;
}

.left img {
    margin-top: 50px;
    margin-bottom: 60;
}

.right h2,
p {
    margin-top: 40px;
}

.right img {
    margin-top: 95px;
}

footer {
    padding-top: 1%;
    background-color: white;
}

.icons i {
    padding-left: 1%;
    font-size: 30px;
    color: #333333;
}

.icons i:hover {
    color: #c44444;
}


/*Users*/

.results {
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile {
    margin-top: 50px;
}

.profile img:hover {
    opacity: 0.3;
}

.profile i {
    font-size: 25px;
}

.social {
    text-decoration: none;
    list-style: none;
}

.social i {
    font-size: 40px;
    color: white;
    padding: 5%;
}


/**/

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}
