<ui-view></ui-view>
<div class="register container" ng-hide="register">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-left">Create Account</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2 text-center">
            <h3>Partner</h3>
            <img src="../assets/images/partner.png" alt="placeholder+image ">
            <button  ui-sref="register.partners"class="btn btn-primary " ng-click="register=true">Register</button>
        </div>
        <div class="col-md-3 col-md-offset-2 text-center ">
            <h3>Alumni</h3>
            <img src="../assets/images/student.png " alt="placeholder+image ">
            <button ui-sref="register.alumni" class="btn btn-primary " ng-click="register=true">Register</button>
        </div>
    </div>
    <hr>
    <div class="row text-right ">
        <div class="col-md-12 ">
            <br>
            <a href="#home ">Temporary link to home</a>
        </div>
    </div>
</div>
