<div class="container">
    <form class="register">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left">Create Account</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-2">
                <h3>First Name</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-2">
                <h3>Last Name</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-2">
                <h3>Email</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-2">
                <h3>Password</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-success">Create Account</button>
            </div>
        </div>
    </form>
    <div class="row text-right">
        <div class="col-md-12">
            <br>
            <a href="#index">Back to home</a>
        </div>
    </div>
    <div class="row text-right">
        <div class="col-md-12">
            <br>
            <a href="#profile">Temporary link to profile</a>
        </div>
    </div>
</div>
