<!-- Nav -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="assets/images/rcb-logo.png">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#index">Home</a></li>
                <li><a href="#news">News</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Container -->
<div class="container">
    <!-- Search -->
    <div class="search row text-center">
        <div class="col-md-12">
            <img src="assets/images/search-01.png">
            <form>
                <div class="form-group col-sm-8 col-sm-offset-2">
                    <input type="text" class="form-control" id="" placeholder="Username" ng-model="vm.searchTerm">
                </div>
                <div class="form-group col-sm-6 col-sm-offset-3">
                    <button type="submit" class="btn btn-block btn-primary" ng-click="vm.doSearch()">Search</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Users -->
    <div class="results row">
        <div class="col-md-4" ng-repeat="user in vm.profiles">
            <div>
                <h3 class="text-center">{{user.login}}</h3>
                <li class="list-group-item">
                    <img src="{{user.avatar_url}}" alt="{{user.login}}" class="img-rounded img-responsive" width="328" height="328">
                </li>
                <li class="list-group-item">
                    <span>{{user.url}}:</span>
                    <span></span>
                </li>
                <li class="list-group-item">
                    <span>Email: </span>
                    <span></span>
                </li>
                <li class="list-group-item">
                    <span>Location:</span>
                    <span></span>
                </li>
                <li class="list-group-item">
                    <span>Followers:</span>
                    <span></span>
                </li>
                <li class="list-group-item">
                    <span>Link:</span>
                    <a href="{{}}"></span>{{user.login}}</a>
                </li>
            </div>
        </div>
    </div>
