<!-- Nav -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="assets/images/rcb-logo.png">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#index">Home</a></li>
                <li><a href="#news">News</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- header -->
<!-- <div class="row">
    <div class="col-md-12">
        <<img src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
    </div>
</div> -->
<!-- Container -->
<div class="container">
    <!-- Search -->
    <div class="row text-center">
        <div class="col-md-12">
            <div ng-controller="appCTRL">
                <button type="button" class="btn btn-primary" ng-click="vm.isCollapsed = !vm.isCollapsed">Search</button>
                <hr>
                <div uib-collapse="vm.isCollapsed">
                    <form>
                        <div class="form-group col-sm-7">
                            <input type="text" class="form-control" id="" placeholder="Username">
                        </div>
                        <div class="form-group col-sm-5">
                            <button type="submit" class="btn btn-block btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Users -->
    <div class="row">
        <div class="col-md-4" ng-repeat="user in vm.articles">
            <div>
                <h3 class="text-center">{{user.login}}</h3>
                <li class="list-group-item">
                    <img src="{{user.avatar_url}}" alt="{{user.login}}" class="img-rounded img-responsive" width="328" height="328">
                </li>
                <li class="list-group-item">
                    <span>{{user.url}}:</span>
                    <span>Ahmed Haque</span>
                </li>
                <li class="list-group-item">
                    <span>Email: </span>
                    <span>afhaque@rice.edu</span>
                </li>
                <li class="list-group-item">
                    <span>Location:</span>
                    <span>New York, NY</span>
                </li>
                <li class="list-group-item">
                    <span>Followers:</span>
                    <span>26</span>
                </li>
                <li class="list-group-item">
                    <span>Link:</span>
                    <a href=""></span>{{user.login}}</a>
                </li>
            </div>
        </div>
       <!--  <div class="col-md-8">
            <h3 class="text-center">User Repos</h3>
            <li class="list-group-item">
                <span><h4><a href="https://github.com/afhaque/AhmedTheGame">Ahmed The Game</a></h4></span>
                <span>Basic game demonstrating JQuery animations as part of lesson at Rutgers Coding Bootcamp.</span>
            </li>
            <li class="list-group-item">
                <span><h4><a href="https://github.com/afhaque/angular-google-maps">Angular-Google-Maps</a></h4></span>
                <span>AngularJS directives for the Google Maps Javascript API</span>
            </li>
            <li class="list-group-item">
                <span><h4><a href="https://github.com/afhaque/angular.io">Angular.io</a></h4></span>
                <span>Website for Angular 2</span>
            </li>
        </div>
    </div> -->
<!--     <div class="row">
        <div class="col-md-10" ng-repeat="user in vm.articles">
            <h2>{{user.login}}</h2>
            <img src="{{user.avatar_url}}" alt="{{user.avatar_url}}">
            <p>{{user.repos_url}}</p>
        </div>
    </div>
</div> -->
